{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}


{% block content %}
    <div class="features">
        <h1>Для связи со мной</h1>
        <p>Здесь указаны все мои соц сети и мессенджеры. </p>
        <form action="https://vk.com/maksimka5533" target="_blank">
        <button class="btn btn-warning" >&#160 VK &#160</button>
        </form>
        <br>
        <br>
        <form action="https://t.me/grandbigsmall" target="_blank">
        <button class="btn btn-warning" >&#160 TG &#160</button>
        </form>
        <br>
        <br>
        <form action="https://mail.google.com/mail/u/1/#inbox?compose=CSkGSFfhwGQwTHrPQBCSMXkGcWXnxrZGRcVcVndKdqxvfHpHFKxWTzJzfMcqwlRTLRTtqDrwnSlnTlwqZZzkWrvcSCjNmhFXBGgWGQlZnFBhpfFmLbXtmJTGzMmddkjjtfMRBzTmfqhxMqtXGsLQXPngZswFbHJhwpj" target="_blank">
        <button class="btn btn-warning" >Gmail</button>
        </form>
    </div>
{% endblock %}